<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
		  package="com.wj.sell3"
		  android:versionCode="183"
		  android:versionName="1.8.2" >

	<uses-sdk
			android:minSdkVersion="12"
			android:targetSdkVersion="12" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="android.permission.RECORD_AUDIO" />
	<uses-permission android:name="android.permission.CAMERA" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
	<uses-permission android:name="android.permission.BLUETOOTH"></uses-permission>

	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	<uses-permission android:name="android.permission.WRITE_SETTINGS" />
	<uses-permission android:name="android.permission.VIBRATE" />
	<uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER"/>
	<uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
	<uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

	<uses-permission android:name="android.permission.NFC" />

	<application
			android:name=".SellApplication"
			android:allowBackup="true"
			android:icon="@drawable/ic_launcher"
			android:label="@string/app"
			>
		<meta-data android:value="55ae3d3b67e58ec60e003d47"
				   android:name="UMENG_APPKEY"></meta-data>
		<activity android:name="Main" android:configChanges="orientation|keyboardHidden"  android:theme="@android:style/Theme.NoTitleBar"
				  android:screenOrientation="portrait" android:launchMode = "singleTask"
				  android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name="com.wj.sell3.Login"
				  android:screenOrientation="portrait"
				  android:label="@string/app_name" android:theme="@android:style/Theme.NoTitleBar">

		</activity>

		<activity android:name="com.wj.sell3.XiaoShouAnalysis"
				  android:windowSoftInputMode="stateHidden|stateAlwaysHidden"
				  android:launchMode="singleTask"
				  android:screenOrientation="portrait"
				  android:label="@string/app_name" android:theme="@android:style/Theme.NoTitleBar">

		</activity>
		<activity android:name="com.wj.sell3.XiaoShouAnalysis2"
				  android:screenOrientation="portrait"
				  android:label="@string/app_name" android:theme="@android:style/Theme.NoTitleBar">

		</activity>
		<activity android:name="com.wj.sell3.XiaoShouAnalysisConfirm"
				  android:screenOrientation="portrait"
				  android:label="@string/app_name" android:theme="@android:style/Theme.NoTitleBar">

		</activity>
		<activity android:name="com.wj.sell3.XiaoShouAnalysis3"
				  android:screenOrientation="portrait"
				  android:label="@string/app_name" android:theme="@android:style/Theme.NoTitleBar">

		</activity>
		<activity android:name="com.wj.sell3.CameraActivity"
				  android:screenOrientation="portrait"
				  android:label="@string/app_name" android:theme="@android:style/Theme.NoTitleBar">

		</activity>
		<activity android:name="com.wj.sell3.ChatActivity"
				  android:screenOrientation="portrait"
				  android:label="@string/app_name" android:theme="@android:style/Theme.NoTitleBar">

		</activity>
		<activity android:name="com.wj.sell3.NfcRegisterActivity"
				  android:screenOrientation="portrait"
				  android:label="@string/app_name" android:theme="@android:style/Theme.NoTitleBar">

		</activity>
		<activity android:name="com.wj.sell3.UsbRegisterActivity"
				  android:screenOrientation="portrait"
				  android:label="@string/app_name" android:theme="@android:style/Theme.NoTitleBar">

		</activity>
		<activity android:name="com.wj.sell3.XiaoShouAnalysis4"
				  android:screenOrientation="portrait"
				  android:label="@string/app_name" android:theme="@android:style/Theme.NoTitleBar">

		</activity>
		<activity android:name="com.wj.sell3.XiaoShouAnalysis5"
				  android:screenOrientation="portrait"
				  android:label="@string/app_name" android:theme="@android:style/Theme.NoTitleBar">

		</activity>

		<activity android:theme="@android:style/Theme.NoTitleBar" android:name=".ui.BluetoothActivity" android:screenOrientation="portrait">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>

		<service
				android:name="com.umeng.update.net.DownloadingService"
				android:process=":DownloadingService" >
		</service>
		<activity
				android:name="com.umeng.update.UpdateDialogActivity"
				>
		</activity>


		<!-- push应用定义消息receiver声明 -->
		<receiver android:name="com.wj.sell3.receiver.MyPushMessageReceiver">
			<intent-filter>
				<!-- 接收push消息 -->
				<action android:name="com.baidu.android.pushservice.action.MESSAGE" />
				<!-- 接收bind,unbind,fetch,delete等反馈消息 -->
				<action android:name="com.baidu.android.pushservice.action.RECEIVE" />
				<action android:name="com.baidu.android.pushservice.action.notification.CLICK" />
			</intent-filter>
		</receiver>

		<!-- push必须的receviver和service声明 -->
		<receiver android:name="com.baidu.android.pushservice.PushServiceReceiver"
				  android:process=":bdservice_v1">
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED" />
				<action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
				<action android:name="com.baidu.android.pushservice.action.notification.SHOW" />
				<action android:name="com.baidu.android.pushservice.action.media.CLICK" />
				<!-- 以下四项为可选的action声明，可大大提高service存活率和消息到达速度 -->
				<action android:name="android.intent.action.MEDIA_MOUNTED" />
				<action android:name="android.intent.action.USER_PRESENT" />
				<action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
				<action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
			</intent-filter>
		</receiver>
		<receiver android:name="com.baidu.android.pushservice.RegistrationReceiver"
				  android:process=":bdservice_v1">
			<intent-filter>
				<action android:name="com.baidu.android.pushservice.action.METHOD" />
				<action android:name="com.baidu.android.pushservice.action.BIND_SYNC" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.PACKAGE_REMOVED"/>
				<data android:scheme="package" />
			</intent-filter>
		</receiver>
		<service
				android:name="com.baidu.android.pushservice.PushService"
				android:exported="true"
				android:process=":bdservice_v1"  >
			<intent-filter>
				<action android:name="com.baidu.android.pushservice.action.PUSH_SERVICE" />
			</intent-filter>
		</service>
		<service android:name="com.baidu.android.pushservice.CommandService"
				 android:exported="true" />
		<!-- push结束 -->

		<!-- 在百度开发者中心查询应用的API Key -->
		<meta-data android:name="api_key" android:value="3q1MuN9rcCazEGGaurhAZrgb" />
	</application>

</manifest>
